<a href="https://colab.research.google.com/github/Gabryelftw/iaestudos/blob/master/sg2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import sys
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import datetime
import pandas as pd

In [12]:
data = pd.read_csv('https://www.dropbox.com/s/jl9istqp8j3uqg1/UFPB_2008-2019.csv.bz2?dl=1', compression='bz2')
data.head(10)

         Data   Hora   (kW)  (kVAr)                 time
0  01/01/2008  00:05  816.5   705.6  2008-01-01 00:05:00
1  01/01/2008  00:10  806.4   685.4  2008-01-01 00:10:00
2  01/01/2008  00:15  796.3   695.5  2008-01-01 00:15:00
3  01/01/2008  00:20  786.2   685.4  2008-01-01 00:20:00
4  01/01/2008  00:25  816.5   695.5  2008-01-01 00:25:00
5  01/01/2008  00:30  846.7   725.8  2008-01-01 00:30:00
6  01/01/2008  00:35  826.6     0.0  2008-01-01 00:35:00
7  01/01/2008  00:40  806.4     0.0  2008-01-01 00:40:00
8  01/01/2008  00:45  776.2     0.0  2008-01-01 00:45:00
9  01/01/2008  00:50  766.1     0.0  2008-01-01 00:50:00

In [16]:
data['Data'] = pd.to_datetime(data['Data'])

In [14]:
data['dayofweek'] = data['Data'].dt.dayofweek

In [ ]:
#localizar qualquer coisa do DF
data.loc[data['Data'] == '2015-12-25']

In [24]:
data['Hollidays'] = 0

# Definindo os feriados fixos anuais

In [61]:
data.loc[(data['Data'].dt.month == 12) & (data['Data'].dt.day == 25) | (data['Data'].dt.month == 1) & (data['Data'].dt.day == 1) | (data['Data'].dt.month == 4) & (data['Data'].dt.day == 21)
| (data['Data'].dt.month == 5) & (data['Data'].dt.day == 1)| (data['Data'].dt.month == 9) & (data['Data'].dt.day == 7)| (data['Data'].dt.month == 10) & (data['Data'].dt.day == 12)
| (data['Data'].dt.month == 11) & (data['Data'].dt.day == 2)| (data['Data'].dt.month == 11) & (data['Data'].dt.day == 15) | (data['Data'].dt.month == 11) & (data['Data'].dt.day == 15)
| (data['Data'].dt.month == 11) & (data['Data'].dt.day == 15)| (data['Data'].dt.month == 11) & (data['Data'].dt.day == 15),
'Hollidays'] = 1

# Alocando os feriados m√≥veis
*   Carnaval
*   Sexta Feira Santa
*   Corpus Christi

*Ano a Ano*

In [60]:
         #Ano 2008
data.loc[(data['Data'].dt.month == 2) & (data['Data'].dt.day == 5) & (data['Data'].dt.year == 2008) | (data['Data'].dt.month == 3) & (data['Data'].dt.day == 21) & (data['Data'].dt.year == 2008) |
         (data['Data'].dt.month == 5) & (data['Data'].dt.day == 22) & (data['Data'].dt.year == 2008), 'Hollidays'] = 1
         #Ano 2009
data.loc[(data['Data'].dt.month == 2) & (data['Data'].dt.day == 24) & (data['Data'].dt.year == 2009) | (data['Data'].dt.month == 4) & (data['Data'].dt.day == 10) & (data['Data'].dt.year == 2009) |
         (data['Data'].dt.month == 6) & (data['Data'].dt.day == 11) & (data['Data'].dt.year == 2009), 'Hollidays'] = 1
         #Ano 2010
data.loc[(data['Data'].dt.month == 2) & (data['Data'].dt.day == 16) & (data['Data'].dt.year == 2010) | (data['Data'].dt.month == 4) & (data['Data'].dt.day == 2) & (data['Data'].dt.year == 2010) |
         (data['Data'].dt.month == 6) & (data['Data'].dt.day == 3) & (data['Data'].dt.year == 2010), 'Hollidays'] = 1
         #Ano 2011
data.loc[(data['Data'].dt.month == 3) & (data['Data'].dt.day == 8) & (data['Data'].dt.year == 2011) | (data['Data'].dt.month == 4) & (data['Data'].dt.day == 22) & (data['Data'].dt.year == 2011) |
         (data['Data'].dt.month == 6) & (data['Data'].dt.day == 23) & (data['Data'].dt.year == 2011), 'Hollidays'] = 1
         #Ano 2012
data.loc[(data['Data'].dt.month == 2) & (data['Data'].dt.day == 21) & (data['Data'].dt.year == 2012) | (data['Data'].dt.month == 4) & (data['Data'].dt.day == 6) & (data['Data'].dt.year == 2012) |
         (data['Data'].dt.month == 6) & (data['Data'].dt.day == 7) & (data['Data'].dt.year == 2012), 'Hollidays'] = 1
         #Ano 2013
data.loc[(data['Data'].dt.month == 2) & (data['Data'].dt.day == 12) & (data['Data'].dt.year == 2013) | (data['Data'].dt.month == 3) & (data['Data'].dt.day == 29) & (data['Data'].dt.year == 2013) |
         (data['Data'].dt.month == 5) & (data['Data'].dt.day == 30) & (data['Data'].dt.year == 2013), 'Hollidays'] = 1
         #Ano 2014
data.loc[(data['Data'].dt.month == 3) & (data['Data'].dt.day == 4) & (data['Data'].dt.year == 2014) | (data['Data'].dt.month == 4) & (data['Data'].dt.day == 18) & (data['Data'].dt.year == 2014) |
         (data['Data'].dt.month == 5) & (data['Data'].dt.day == 19) & (data['Data'].dt.year == 2014), 'Hollidays'] = 1
         #Ano 2015
data.loc[(data['Data'].dt.month == 2) & (data['Data'].dt.day == 17) & (data['Data'].dt.year == 2015) | (data['Data'].dt.month == 4) & (data['Data'].dt.day == 3) & (data['Data'].dt.year == 2015) |
         (data['Data'].dt.month == 6) & (data['Data'].dt.day == 4) & (data['Data'].dt.year == 2015), 'Hollidays'] = 1
         #Ano 2016
data.loc[(data['Data'].dt.month == 2) & (data['Data'].dt.day == 9) & (data['Data'].dt.year == 2016) | (data['Data'].dt.month == 3) & (data['Data'].dt.day == 25) & (data['Data'].dt.year == 2016) |
         (data['Data'].dt.month == 5) & (data['Data'].dt.day == 26) & (data['Data'].dt.year == 2016), 'Hollidays'] = 1
         #Ano 2017
data.loc[(data['Data'].dt.month == 2) & (data['Data'].dt.day == 28) & (data['Data'].dt.year == 2017) | (data['Data'].dt.month == 4) & (data['Data'].dt.day == 14) & (data['Data'].dt.year == 2017) |
         (data['Data'].dt.month == 6) & (data['Data'].dt.day == 15) & (data['Data'].dt.year == 2017), 'Hollidays'] = 1
         #Ano 2018
data.loc[(data['Data'].dt.month == 2) & (data['Data'].dt.day == 13) & (data['Data'].dt.year == 2018) | (data['Data'].dt.month == 3) & (data['Data'].dt.day == 30) & (data['Data'].dt.year == 2018) |
         (data['Data'].dt.month == 5) & (data['Data'].dt.day == 31) & (data['Data'].dt.year == 2018), 'Hollidays'] = 1
         #Ano 2019
data.loc[(data['Data'].dt.month == 3) & (data['Data'].dt.day == 5) & (data['Data'].dt.year == 2019) | (data['Data'].dt.month == 4) & (data['Data'].dt.day == 19) & (data['Data'].dt.year == 2019) |
         (data['Data'].dt.month == 6) & (data['Data'].dt.day == 20) & (data['Data'].dt.year == 2019), 'Hollidays'] = 1

In [ ]:
data.loc[data['Data'] == '2008-02-05']